.container
  .row.card-horizontal
    .col-auto
      img.carousel-inner_border-radius(src="../../assets/img/technics/image_50.jpg", alt="экскаватор")
    .col.card-date-route
      .card-sharing__block.card-sharing__block_square
            a(href="#").sharing-link.sharing-link_plain-star.sharing-link_square
            a(href="#").sharing-link.sharing-link_plain-share.sharing-link_square
      .first-line
        .type-date-route
          .pin__block.gutter-right-55.padding-top-5
            .pin__block_img
              img(src="../../assets/img/sprites/popular/tag.png", alt="tag")
            p.pin__block_text.typo_size-5 Кран, автокран
          .pin__block.gutter-right-50.padding-top-5
            .pin__block_img
              img(src="../../assets/img/sprites/popular/calendar.png", alt="calendar")
            p.pin__block_text.typo_size-5 12.09.2019 - 15.09.2019
          .pin__block.padding-top-5
            .pin__block_img
              img(src="../../assets/img/sprites/Navigations/map-pin-red.png", alt="map-pin")
            p.pin__block_text.typo_size-5 Зеленогорск - Санкт-Петербург
      .second-line
        .service-description
          p Перевозка 2х буровых установок на раздвижном трале <br> Улан-Уде-Узбекистан
      .third-line.third-line_feedback-only
        .feedback-buttons
          button.btn.btn-white Написать
          button.btn.btn-warning.btn-horizontal-card_show-phone Показать телефон