.container
  .place-and-phone
    .place-and-phone__left-block
      .place
        .map-pin-gold
          img(src="../../assets/img/sprites/Navigations/map-pin-gold.png", alt="map pin gold")
        span г. Москва
    .user_ellipse a
    .place-and-phone__right-block
      .button-phone-gold-block
        button.button-phone-gold-block__btn.typo_size-3(type="button") +7 (495) 230-20-60