.item-card__carousel.col-auto
  .carousel.slide#carouselIndicators2(data-ride="carousel")
    ol.carousel-indicators.carousel-indicators_small
      li.active(data-target="#carouselIndicators2" data-slide-to="0")
      li(data-target="#carouselIndicators2" data-slide-to="1")
      li(data-target="#carouselIndicators2" data-slide-to="2")
      li(data-target="#carouselIndicators2" data-slide-to="3")
    .carousel-inner.carousel-inner_border-radius
      .carousel-item.active
        img.d-block.w-100(src="../../assets/img/technics/carousel/image_48.jpg" alt="экскаватор погрузчик")
      .carousel-item
        img.d-block.w-100(src="../../assets/img/technics/carousel/image_49.jpg" alt="экскаватор погрузчик")
      .carousel-item
        img.d-block.w-100(src="../../assets/img/technics/carousel/image_50.jpg" alt="экскаватор погрузчик")
      .carousel-item
        img.d-block.w-100(src="../../assets/img/technics/carousel/image_61.jpg" alt="экскаватор погрузчик")