header
  .container
    span header is here
    ul
      li
        a(href='colors_type.html') Colors type
      li
        a(href='form_elements.html') Form Elements
      li
        a(href='UIStyleKit.html') UI Style Kit
      li
        a(href='cards.html') Cards
      li
        a(href="rating.html") Rating
      li
        a(href="main_page.html") Главная
