footer.footer#footer
  .container
    .footer__inner.row
      .footer-replay.col
        .footer-replay__logo
          a(href="/")
            img.footer__logo(src="../../assets/img/logo/Spec-logo.svg" alt="logo")
        .footer-replay__contact-phone
          h1.typo_bold_size-1_1 Контакты
          p.typo_size-1_1 +7 (495) 230-20-60
        .footer-replay__apps
          a(href="#")
            img(src="../../assets/img/App_Store_Badge_US.png" alt="App Store")
          a(href="#")
            img(src="../../assets/img/Google_Play_Badge_US.png" alt="Google Play")
        .footer-replay__right-info
          p.typo_size-5_2 ООО "Вся спецтехника" ИНН 7751170016
          p.typo_size-5_2 Все права защищены. &copy; 2015-2018

      .footer__info.col
        .footer__info-block
          h1.typo_bold_size-1_1 Информация
          ul.footer__info-list
            li.footer__info-list_item.typo_size-4_1
              a(href="#").navigation__link Товары и услуги
            li.footer__info-list_item.typo_size-4_1
              a.navigation__link Работа
            li.footer__info-list_item.typo_size-4_1
              a.navigation__link Компании
            li.footer__info-list_item.typo_size-4_1
              a.navigation__link Техподдержка
      .footer__social.col
        .footer__social-block
          h1.typo_bold_size-1_1 Мы в соцсетях
          ul.footer__social-list
            li.social-list__item
              a(href="#").social-list__link.social-list__link_vk Vkontakte
                img(src="../../assets/img/social/VK.png", alt="Vkontakte")
            li.social-list__item
              a(href="#").social-list__link.social-list__link_fb Facebook
                img(src="../../assets/img/social/Facebook.png", alt="Facebook")
            li.social-list__item
              a(href="#").social-list__link.social-list__link_ok Odnoklasniki
                img(src="../../assets/img/social/OK.png", alt="Odnoklasniki")
            li.social-list__item
              a(href="#").social-list__link.social-list__link_tw Twitter
                img(src="../../assets/img/social/Twitter.png", alt="Twitter")
            li.social-list__item
              a(href="#").social-list__link.social-list__link_yt Youtube
                img(src="../../assets/img/social/Youtube.png", alt="Youtube")
        .footer__placeAnAdd
          h2.typo_bold_size-4_1 Разместить обьявление на сайте?
          button.btn.btn-warning.placeAnAdd__button
            img.placeAnAdd__button_plus(src="../../assets/img/sprites/popular/plus.png")
            span.placeAnAdd__button_declaration.typo_size-5 Добавить объявление