header
  .logo-sprites-container
    h1.sprites-header.typo_bold_size-2 UI Style Kit
    h2.sprites-icons.typo_color-purple.typo_size-3 Icons
    a(href="UIStyleKit.html/cards").typo_size-4.typo_color-main.sprites-link rusmirarnautovic.com
    img.sprites-logo(src="../../assets/img/Group_1.svg")
