//- block header
//-   .container
include ../includes/modules/UI_Kit/header_kit.pug
block content
  include ../includes/modules/cards/big_logo.pug
  include ../includes/modules/cards/place_phone.pug
  include ../includes/modules/cards/mobile-cards.pug
  .container
    .row.empty-space
  include ../includes/modules/cards/mobile-cards-bootstrap.pug
  .container
    .row.empty-space
  include ../includes/modules/cards/form-search.pug
  .container
    .row.empty-space
  include ../includes/modules/cards/card-date.pug
  .container
    .row.empty-space
  include ../includes/modules/cards/card-rent.pug
  include ../includes/modules/cards/card-rent-bootstrap.pug
  .container
    .row.empty-space
  include ../includes/modules/cards/card-firm.pug
  .container
    .row.empty-space
  include ../includes/modules/cards/pagination.pug
  .container
    .row.empty-space
  include ../includes/modules/main_page/slider-slick.pug
  
include ../includes/modules/UI_Kit/footer.pug
