doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    <style>.sharing-link_plain-share {background-image: url('../../assets/img/sharing/share-black.png');} .sharing-link_plain-share:hover {background-image: url('../../assets/img/sharing/share-white.png');} .sharing-link_plain-star {background-image: url('../../assets/img/sharing/star-white.png');} .sr-only_circle-arrow:after {background-image: url('../../assets/img/sprites/arrows/arrow_circle_drop_down_24px.png');}</style>

//- block header
//-   .container
include ../includes/modules/UI_Kit/header_kit.pug
block content
  include ../includes/modules/cards/big_logo.pug
  include ../includes/modules/cards/place_phone.pug
  include ../includes/modules/cards/mobile-cards.pug
  .container
    .row.empty-space
  include ../includes/modules/cards/mobile-cards-bootstrap.pug
  .container
    .row.empty-space
  include ../includes/modules/cards/form-search.pug
  .container
    .row.empty-space
  include ../includes/modules/cards/card-date.pug
  .container
    .row.empty-space
  include ../includes/modules/cards/card-rent.pug
  include ../includes/modules/cards/card-rent-bootstrap.pug
  .container
    .row.empty-space
  include ../includes/modules/cards/card-firm.pug
  .container
    .row.empty-space
  include ../includes/modules/cards/pagination.pug
  .container
    .row.empty-space
  include ../includes/modules/main_page/slider-slick.pug
  
include ../includes/modules/UI_Kit/footer.pug
