include ../utils/mixins
block variables
  -var title = 'Главная';

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    <style>.technics__search:before {background-image: url('../../assets/img/sprites/popular/Search.png');} button.slick-prev {background-image: url('../../assets/img/main_page/arrow-left.png');} button.slick-next {background-image: url('../../assets/img/main_page/arrow.png');} .sharing-link_plain-share {background-image: url('../../assets/img/sharing/share-black.png');} .sharing-link_plain-share:hover {background-image: url('../../assets/img/sharing/share-white.png');} .sharing-link_plain-star {background-image: url('../../assets/img/sharing/star-white.png');}</style>

body
  include ../includes/modules/UI_Kit/header_kit.pug
  include ../includes/modules/main_page/entrance-form.pug
  block content
    include ../includes/modules/main_page/hero-first.pug
    include ../includes/modules/main_page/bulletin_board.pug
    include ../includes/modules/main_page/hero-second.pug
    //- include ../includes/modules/main_page/slider.pug
    include ../includes/modules/main_page/slider-slick.pug
    include ../includes/modules/main_page/appBlock.pug

  include ../includes/modules/UI_Kit/footer.pug