.main-rating-input
  fieldset
    legend Самочувствие
      .star-rating
        input#5-stars(type='radio', name='rating', value='5')
        label.star(for='5-stars') &bigstar;
        input#4-stars(type='radio', name='rating', value='4')
        label.star(for='4-stars') &bigstar;
        input#3-stars(type='radio', name='rating', value='3')
        label.star(for='3-stars') &bigstar;
        input#2-stars(type='radio', name='rating', value='2')
        label.star(for='2-stars') &bigstar;
        input#1-star(type='radio', name='rating', value='1')
        label.star(for='1-star') &bigstar;