extends ../layout/UIkit

block variables
  -var title = 'UI Style Kit'

block content
  .container.sprites-main
    .row
      .popular.sprite-container.col-xs-12.col-lg-3
        h1.typo_color-purple Popular
        .sprite-col
          include ../includes/modules/sprites/popular.pug
      .messaging.sprite-container.col-xs-12.col-lg-3
        h1.typo_color-purple Messaging
        .sprite-col
          include ../includes/modules/sprites/messaging.pug
      .arrows.sprite-container.col-xs-12.col-lg-3
        h1.typo_color-purple Arrows
        .sprite-col
          include ../includes/modules/sprites/arrows.pug
      .notification.sprite-container.col-xs-12.col-lg-3
        h1.typo_color-purple Notification
        .sprite-col
          include ../includes/modules/sprites/notification.pug
      .chevrons.sprite-container.col-xs-12.col-lg-3
        h1.typo_color-purple Chevrons
        .sprite-col
          include ../includes/modules/sprites/chevrons.pug
      .socials.sprite-container.col-xs-12.col-lg-3
        h1.typo_color-purple Socials
        .sprite-col
          include ../includes/modules/sprites/socials.pug
      .accounts.sprite-container.col-xs-12.col-lg-3
        h1.typo_color-purple Accounts
        .sprite-col
          include ../includes/modules/sprites/accounts.pug
      .business.sprite-container.col-xs-12.col-lg-3
        h1.typo_color-purple Business
        .sprite-col
          include ../includes/modules/sprites/business.pug
      .sounds.sprite-container.col-xs-12.col-lg-3
        h1.typo_color-purple Sounds
        .sprite-col
          include ../includes/modules/sprites/sounds.pug
      .misc.sprite-container.col-xs-12.col-lg-3
        h1.typo_color-purple Misc
        .sprite-col
          include ../includes/modules/sprites/misc.pug
      .text.sprite-container.col-xs-12.col-lg-3
        h1.typo_color-purple Text
        .sprite-col
          include ../includes/modules/sprites/text.pug
      .devices.sprite-container.col-xs-12.col-lg-3
        h1.typo_color-purple Devices
        .sprite-col
          include ../includes/modules/sprites/devices.pug
      .navigation.sprite-container.col-xs-12.col-lg-3
        h1.typo_color-purple Navigation
        .sprite-col
          include ../includes/modules/sprites/navigation.pug
      .files.sprite-container.col-xs-12.col-lg-3
        h1.typo_color-purple Files
        .sprite-col
          include ../includes/modules/sprites/files.pug
      .view.sprite-container.col-xs-12.col-lg-3
        h1.typo_color-purple View
        .sprite-col
          include ../includes/modules/sprites/view.pug
      .finance.sprite-container.col-xs-12.col-lg-3
        h1.typo_color-purple Finance
        .sprite-col
          include ../includes/modules/sprites/finance.pug
      .fashion.sprite-container.col-xs-12.col-lg-3
        h1.typo_color-purple Fashion
        .sprite-col
          include ../includes/modules/sprites/fasion.pug

