.sprite-box
  .sprite-box__element.sprite-box__element_lock
  .sprite-box__element.sprite-box__element_log-in
  .sprite-box__element.sprite-box__element_user-check
  .sprite-box__element.sprite-box__element_user-plus
  .sprite-box__element.sprite-box__element_user
  .sprite-box__element.sprite-box__element_unlock
  .sprite-box__element.sprite-box__element_log-out

  .sprite-box__element.sprite-box__element_user-minus
  .sprite-box__element.sprite-box__element_user-x
  .sprite-box__element.sprite-box__element_users