.sprite-box
      .sprite-box__element.sprite-box__element_left
      .sprite-box__element.sprite-box__element_right
      .sprite-box__element.sprite-box__element_up
      .sprite-box__element.sprite-box__element_down
      .sprite-box__element.sprite-box__element_down-left
      .sprite-box__element.sprite-box__element_up-right
      .sprite-box__element.sprite-box__element_up-left
    
      .sprite-box__element.sprite-box__element_down-right
      .sprite-box__element.sprite-box__element_trending-up
      .sprite-box__element.sprite-box__element_trending-down
      .sprite-box__element.sprite-box__element_maximize-2
      .sprite-box__element.sprite-box__element_minimize-2
      .sprite-box__element.sprite-box__element_move
      .sprite-box__element.sprite-box__element_arrow-left-circle
    
      .sprite-box__element.sprite-box__element_arrow-down-circle
      .sprite-box__element.sprite-box__element_arrow-right-circle
      .sprite-box__element.sprite-box__element_arrow-up-circle
      .sprite-box__element.sprite-box__element_corner-down-right
      .sprite-box__element.sprite-box__element_corner-up-left
      .sprite-box__element.sprite-box__element_corner-left-down
      .sprite-box__element.sprite-box__element_corner-right-up
    
      .sprite-box__element.sprite-box__element_corner-up-right
      .sprite-box__element.sprite-box__element_corner-right-down
      .sprite-box__element.sprite-box__element_corner-left-up
      .sprite-box__element.sprite-box__element_corner-down-left
      .sprite-box__element.sprite-box__element_refresh-cw
      .sprite-box__element.sprite-box__element_rotate-cw
      .sprite-box__element.sprite-box__element_rotate-ccw
    
      .sprite-box__element.sprite-box__element_refresh-ccw