.sprite-box
  .sprite-box__element.sprite-box__element_bar-chart-2
  .sprite-box__element.sprite-box__element_pie-chart
  .sprite-box__element.sprite-box__element_credit-card
  .sprite-box__element.sprite-box__element_package
  .sprite-box__element.sprite-box__element_shopping-bag
  .sprite-box__element.sprite-box__element_bar-chart
  .sprite-box__element.sprite-box__element_briefcase

  .sprite-box__element.sprite-box__element_dollar-sign
  .sprite-box__element.sprite-box__element_percent
  .sprite-box__element.sprite-box__element_shopping-cart