.sprite-box
      .sprite-box__element.sprite-box__element_chevron-down
      .sprite-box__element.sprite-box__element_chevron-left
      .sprite-box__element.sprite-box__element_chevron-up
      .sprite-box__element.sprite-box__element_chevron-right
      .sprite-box__element.sprite-box__element_chevrons-left
      .sprite-box__element.sprite-box__element_chevrons-down
      .sprite-box__element.sprite-box__element_chevrons-up
    
      .sprite-box__element.sprite-box__element_chevrons-right
      .sprite-box__element.sprite-box__element_chevrons-sort