.sprite-box
  .sprite-box__element.sprite-box__element_camera
  .sprite-box__element.sprite-box__element_printer
  .sprite-box__element.sprite-box__element_headphones
  .sprite-box__element.sprite-box__element_camera-off
  .sprite-box__element.sprite-box__element_smartphone
  .sprite-box__element.sprite-box__element_tablet
  .sprite-box__element.sprite-box__element_watch

  .sprite-box__element.sprite-box__element_video
  .sprite-box__element.sprite-box__element_aperture
  .sprite-box__element.sprite-box__element_film
  .sprite-box__element.sprite-box__element_hard-drive
  .sprite-box__element.sprite-box__element_video-off
  .sprite-box__element.sprite-box__element_speaker
  .sprite-box__element.sprite-box__element_tv

  .sprite-box__element.sprite-box__element_monitor