.sprite-box
      .sprite-box__element.sprite-box__element_apple-watch
      .sprite-box__element.sprite-box__element_bag
      .sprite-box__element.sprite-box__element_baseball-cap
      .sprite-box__element.sprite-box__element_beanie
      .sprite-box__element.sprite-box__element_boots
      .sprite-box__element.sprite-box__element_bra
      .sprite-box__element.sprite-box__element_cleats
    
      .sprite-box__element.sprite-box__element_footwear
      .sprite-box__element.sprite-box__element_glasses
      .sprite-box__element.sprite-box__element_handbag
      .sprite-box__element.sprite-box__element_jacket
      .sprite-box__element.sprite-box__element_jeans
      .sprite-box__element.sprite-box__element_jamper
      .sprite-box__element.sprite-box__element_lab-coat
    
      .sprite-box__element.sprite-box__element_mens-hoodie
      .sprite-box__element.sprite-box__element_mens-underwear
      .sprite-box__element.sprite-box__element_messenger-bag
      .sprite-box__element.sprite-box__element_panties
      .sprite-box__element.sprite-box__element_romper
      .sprite-box__element.sprite-box__element_shirt
      .sprite-box__element.sprite-box__element_shorts
    
      .sprite-box__element.sprite-box__element_smart-watch
      .sprite-box__element.sprite-box__element_sneakers
      .sprite-box__element.sprite-box__element_suit
      .sprite-box__element.sprite-box__element_sun-glasses
      .sprite-box__element.sprite-box__element_sweater
      .sprite-box__element.sprite-box__element_swimming-suit
      .sprite-box__element.sprite-box__element_t-shirt
    
      .sprite-box__element.sprite-box__element_valenki
      .sprite-box__element.sprite-box__element_vest
      .sprite-box__element.sprite-box__element_watches-front-view
      .sprite-box__element.sprite-box__element_wedding-dress
      .sprite-box__element.sprite-box__element_winter-boots
      .sprite-box__element.sprite-box__element_women-shoe-diagonal-view
      .sprite-box__element.sprite-box__element_womens-pajama
    
      .sprite-box__element.sprite-box__element_coat
      .sprite-box__element.sprite-box__element_costume
      .sprite-box__element.sprite-box__element_flip-flops
      .sprite-box__element.sprite-box__element_skirt
      .sprite-box__element.sprite-box__element_slip-dress
      .sprite-box__element.sprite-box__element_slippers
      .sprite-box__element.sprite-box__element_womens-suit

      .sprite-box__element.sprite-box__element_little-black-dress
      .sprite-box__element.sprite-box__element_long-shorts
      .sprite-box__element.sprite-box__element_mens-pajama
      .sprite-box__element.sprite-box__element_tights
      .sprite-box__element.sprite-box__element_trainers
      .sprite-box__element.sprite-box__element_trousers
      .sprite-box__element.sprite-box__element_womens-t-shirt