.sprite-box
  .sprite-box__element.sprite-box__element_upload
  .sprite-box__element.sprite-box__element_folder
  .sprite-box__element.sprite-box__element_upload-cloud
  .sprite-box__element.sprite-box__element_file-minus
  .sprite-box__element.sprite-box__element_download
  .sprite-box__element.sprite-box__element_file-plus
  .sprite-box__element.sprite-box__element_image

  .sprite-box__element.sprite-box__element_file
  .sprite-box__element.sprite-box__element_file-text
  .sprite-box__element.sprite-box__element_download-cloud