.sprite-box
  .sprite-box__element.sprite-box__element_grocery
  .sprite-box__element.sprite-box__element_food-and-drinks
  .sprite-box__element.sprite-box__element_shopping
  .sprite-box__element.sprite-box__element_atm
  .sprite-box__element.sprite-box__element_general
  .sprite-box__element.sprite-box__element_travel
  .sprite-box__element.sprite-box__element_

  .sprite-box__element.sprite-box__element_transportation
  .sprite-box__element.sprite-box__element_weekly-salary
  .sprite-box__element.sprite-box__element_bills
  .sprite-box__element.sprite-box__element_gaming
  .sprite-box__element.sprite-box__element_family
  .sprite-box__element.sprite-box__element_monthly-salary
  .sprite-box__element.sprite-box__element_

  .sprite-box__element.sprite-box__element_sport
  .sprite-box__element.sprite-box__element_entertainment
  .sprite-box__element.sprite-box__element_medicine