.sprite-box
      .sprite-box__element.sprite-box__element_archive
      .sprite-box__element.sprite-box__element_edit-3
      .sprite-box__element.sprite-box__element_inbox
      .sprite-box__element.sprite-box__element_message-circle
      .sprite-box__element.sprite-box__element_paperclip
      .sprite-box__element.sprite-box__element_edit-2
      .sprite-box__element.sprite-box__element_edit
    
      .sprite-box__element.sprite-box__element_mail
      .sprite-box__element.sprite-box__element_message-square
      .sprite-box__element.sprite-box__element_at-sign