.sprite-box
  .sprite-box__element.sprite-box__element_box
  .sprite-box__element.sprite-box__element_gift
  .sprite-box__element.sprite-box__element_wifi
  .sprite-box__element.sprite-box__element_anchor
  .sprite-box__element.sprite-box__element_layers
  .sprite-box__element.sprite-box__element_radio
  .sprite-box__element.sprite-box__element_rss

  .sprite-box__element.sprite-box__element_cpu
  .sprite-box__element.sprite-box__element_shield-off
  .sprite-box__element.sprite-box__element_disc
  .sprite-box__element.sprite-box__element_target
  .sprite-box__element.sprite-box__element_zap
  .sprite-box__element.sprite-box__element_award
  .sprite-box__element.sprite-box__element_hash

  .sprite-box__element.sprite-box__element_zap-off
  .sprite-box__element.sprite-box__element_power
  .sprite-box__element.sprite-box__element_life-buoy
  .sprite-box__element.sprite-box__element_cast
  .sprite-box__element.sprite-box__element_server
  .sprite-box__element.sprite-box__element_database
  .sprite-box__element.sprite-box__element_shield

  .sprite-box__element.sprite-box__element_feather
  .sprite-box__element.sprite-box__element_truck