.sprite-box
  .sprite-box__element.sprite-box__element_zoom-out
  .sprite-box__element.sprite-box__element_navigation-2
  .sprite-box__element.sprite-box__element_map-pin
  .sprite-box__element.sprite-box__element_compass
  .sprite-box__element.sprite-box__element_navigation
  .sprite-box__element.sprite-box__element_zoom-in
  .sprite-box__element.sprite-box__element_map

  .sprite-box__element.sprite-box__element_crosshair