.sprite-box
      .sprite-box__element.sprite-box__element_activity
      .sprite-box__element.sprite-box__element_alert-circle
      .sprite-box__element.sprite-box__element_alert-octagon
      .sprite-box__element.sprite-box__element_alert-triangle
      .sprite-box__element.sprite-box__element_help-circle
      .sprite-box__element.sprite-box__element_info
      .sprite-box__element.sprite-box__element_bell
    
      .sprite-box__element.sprite-box__element_bell-off