.sprite-box
  .sprite-box__element.sprite-box__element_search
  .sprite-box__element.sprite-box__element_bookmark
  .sprite-box__element.sprite-box__element_link
  .sprite-box__element.sprite-box__element_trash
  .sprite-box__element.sprite-box__element_share-2
  .sprite-box__element.sprite-box__element_external-link
  .sprite-box__element.sprite-box__element_popular-loader

  .sprite-box__element.sprite-box__element_settings
  .sprite-box__element.sprite-box__element_delete
  .sprite-box__element.sprite-box__element_list
  .sprite-box__element.sprite-box__element_more-vertical
  .sprite-box__element.sprite-box__element_share
  .sprite-box__element.sprite-box__element_filter
  .sprite-box__element.sprite-box__element_menu

  .sprite-box__element.sprite-box__element_calendar
  .sprite-box__element.sprite-box__element_sliders
  .sprite-box__element.sprite-box__element_flag
  .sprite-box__element.sprite-box__element_more-horizontal
  .sprite-box__element.sprite-box__element_check
  .sprite-box__element.sprite-box__element_trash-2
  .sprite-box__element.sprite-box__element_hash

  .sprite-box__element.sprite-box__element_clock
  .sprite-box__element.sprite-box__element_tag
  .sprite-box__element.sprite-box__element_globe
  .sprite-box__element.sprite-box__element_minus-square
  .sprite-box__element.sprite-box__element_check-square
  .sprite-box__element.sprite-box__element_x
  .sprite-box__element.sprite-box__element_home

  .sprite-box__element.sprite-box__element_minus
  .sprite-box__element.sprite-box__element_check-circle
  .sprite-box__element.sprite-box__element_x-square
  .sprite-box__element.sprite-box__element_inbox
  .sprite-box__element.sprite-box__element_plus
  .sprite-box__element
  .sprite-box__element

  .sprite-box__element.sprite-box__element_plus-circle
  .sprite-box__element.sprite-box__element_x-circle
  .sprite-box__element.sprite-box__element_link-2
  .sprite-box__element.sprite-box__element_plus-square
  .sprite-box__element.sprite-box__element_star
  .sprite-box__element
  .sprite-box__element