.sprite-box
  .sprite-box__element.sprite-box__element_facebook
  .sprite-box__element.sprite-box__element_instagram
  .sprite-box__element.sprite-box__element_linkedin
  .sprite-box__element.sprite-box__element_twitter
  .sprite-box__element.sprite-box__element_google
  .sprite-box__element.sprite-box__element_youtube
  .sprite-box__element.sprite-box__element_thumbs-down

  .sprite-box__element.sprite-box__element_thumbs-up
  .sprite-box__element.sprite-box__element_heart
  .sprite-box__element.sprite-box__element_star