.sprite-box
  .sprite-box__element.sprite-box__element_mic-off
  .sprite-box__element.sprite-box__element_mic
  .sprite-box__element.sprite-box__element_scip-back
  .sprite-box__element.sprite-box__element_scip-forward
  .sprite-box__element.sprite-box__element_play-circle
  .sprite-box__element.sprite-box__element_play
  .sprite-box__element.sprite-box__element_stop-circle

  .sprite-box__element.sprite-box__element_pause-circle
  .sprite-box__element.sprite-box__element_pause
  .sprite-box__element.sprite-box__element_music
  .sprite-box__element.sprite-box__element_volume-2
  .sprite-box__element.sprite-box__element_volume-x
  .sprite-box__element.sprite-box__element_shuffle
  .sprite-box__element.sprite-box__element_repeat

  .sprite-box__element.sprite-box__element_volume-1
  .sprite-box__element.sprite-box__element_volume
  .sprite-box__element.sprite-box__element_rewind