.sprite-box
  .sprite-box__element.sprite-box__element_align-center
  .sprite-box__element.sprite-box__element_align-left
  .sprite-box__element.sprite-box__element_align-justify
  .sprite-box__element.sprite-box__element_align-right
  .sprite-box__element.sprite-box__element_delete
  .sprite-box__element.sprite-box__element_type
  .sprite-box__element.sprite-box__element_italic

  .sprite-box__element.sprite-box__element_camera
  .sprite-box__element.sprite-box__element_printer
  .sprite-box__element.sprite-box__element_headphones
  .sprite-box__element.sprite-box__element_camera-off
  .sprite-box__element.sprite-box__element_smartphone
  .sprite-box__element.sprite-box__element_tablet
  .sprite-box__element.sprite-box__element_watch