.sprite-box
  .sprite-box__element.sprite-box__element_layout
  .sprite-box__element.sprite-box__element_eye-off
  .sprite-box__element.sprite-box__element_sidebar
  .sprite-box__element.sprite-box__element_toggle-left
  .sprite-box__element.sprite-box__element_layers
  .sprite-box__element.sprite-box__element_grid
  .sprite-box__element.sprite-box__element_eye

  .sprite-box__element.sprite-box__element_toggle-right