
.card-firm-header_margin {
  margin-bottom: 0;
}

.firm-im-wp {
  margin-left: 22px;
  margin-bottom: 30px;
}

.card-firm__feedback-place {
  justify-content: flex-end;
}

.card-sharing__block_firm {
  top: -10px;
}