.pin__block {
  display: flex;
  margin-bottom: 10px;
}

.pin__block_last-child {
  margin-bottom: 26px;
}

.pin__block_img {
  width: 24px;
  height: 24px;
  // margin-bottom: 10px;
}

.pin__block_text {
  margin-left: 5px;
  align-self: center;
  font-size: $font-size-sm;
}
