.carousel-inner_border-radius {
  border: 1px solid transparent;
  border-radius: 4px;
}

.carousel-indicators_small {
  li {
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
  }
}