.app-block
  .container.container-relative 
    .app-block__text 
      .app-block__header.h2 Скачайте <br> мобильное приложение
      .app-block__para находите технику и размещайте свои заказы!
    .footer-replay__apps
      a(href="#")
        img(src="../../assets/img/main_page/App_Store_Badge_US.png" alt="App Store")
      a(href="#")
        img(src="../../assets/img/main_page/Google_Play_Badge_US.png" alt="Google Play")
    .app-block__banner 
      img(src="../../assets/img/main_page/iPhone_XS.png", alt="iPhone_XS")