section.bulletin-board
  .container
    h3.bulletin-board__header Предоставление услуг по аренде и продаже спецтехники, запчастей, доставки стройматериалов
    .row
      .col-lg-4.bulletin-board__col
        .card.bulletin-board__card
          a.card__link(href="/")
            img.card-img.card__img(src="../../../assets/img/main_page/hummer.png", alt="")
            .card-body.card-body_one-line-top-bottom-padding
              h5.h5.card-title Аренда спецтехники
      .col-lg-4.bulletin-board__col
        .card.bulletin-board__card
          a.card__link(href="/")
            img.card-img.card__img(src="../../../assets/img/main_page/dump_truck.png", alt="")
            .card-body.card-body_one-line-top-bottom-padding
              h5.h5.card-title Грузоперевозки
      .col-lg-4.bulletin-board__col
        .card.bulletin-board__card
          a.card__link(href="/")
            img.card-img.card__img(src="../../../assets/img/main_page/dump_truck.png", alt="")
            .card-body.card-body_two-line-top-bottom-padding
              h5.h5.card-title Доставка <br> стройматериалов
      .col-lg-4.bulletin-board__col
        .card.bulletin-board__card
          a.card__link(href="/")
            img.card-img.card__img(src="../../../assets/img/main_page/garbage_truck.png", alt="")
            .card-body.card-body_two-line-top-bottom-padding
              h5.h5.card-title Продажа <br> спецтехники
      .col-lg-4.bulletin-board__col
        .card.bulletin-board__card
          a.card__link(href="/")
            img.card-img.card__img(src="../../../assets/img/main_page/crusher.png", alt="")
            .card-body.card-body_two-line-top-bottom-padding
              h5.h5.card-title Запчасти и навесное <br> оборудование
      .col-lg-4.bulletin-board__col
        .card.bulletin-board__card
          a.card__link(href="/")
            img.card-img.card__img(src="../../../assets/img/main_page/rink.png", alt="")
            .card-body.card-body_two-line-top-bottom-padding
              h5.h5.card-title Услуги <br> спецтехники
