section.card-product
  .card-sharing__block.card-sharing__block_circle
    a(href="#").sharing-link.sharing-link_plain-star.sharing-link_circle
    a(href="#").sharing-link.sharing-link_plain-share.sharing-link_circle
  img.carousel-inner_height(src="../../assets/img/technics/carousel/image_mobile_48.jpg", alt="")
  .card-product__container.container
    p.typo_size-4_1.card-product__service-text Выкопать котлован под гараж. Объект находится в д. Славное Калининского района.
    .pin__block
      img.pin__block_img(src="../../assets/img/sprites/popular/tag.png", alt="tag")
      p.pin__block_text Трактор
    .pin__block
      img.pin__block_img(src="../../assets/img/sprites/popular/calendar.png", alt="calendar")
      p.pin__block_text 12.09.2019 - 15.09.2019
    .pin__block.pin__block_last-child
      .pin__block_img
        img(src="../../assets/img/sprites/Navigations/map-pin-red.png", alt="map-pin")
      p.pin__block_text Россия, Жуков (Калужская область)
    button(type="button").show-phone__btn.btn.btn-warning.typo_size-5_1 Показать телефон