section.hero-second
  .container
    h2.h2.hero-second__header Получить предложение по цене от поставщиков
    p.hero-second__para бесплатно за 10 мин
    button.btn.btn-lg.btn-warning(type="button" name="order")
      .btn-inside Заказать в 1 клик