.container.slider-slick-container 
  .buttons__group.mb-4.pb-3
    button(type="button" name="new_offers").btn.btn-lg.btn-warning.mr-3 Новые предложения
    button(type="button" name="new_company").btn.btn-lg.btn-dark.mx-1 Новые компании
    button(type="button" name="new_applications").btn.btn-lg.btn-dark.ml-3 Новые заявки
  .slick-carousel 
    .slick-carousel-item
      include ./carousel-items.pug
    .slick-carousel-item
      include ./carousel-items.pug
    .slick-carousel-item
      include ./carousel-items.pug